/**********************************************************************************

	put here your custom CSS code to modify the design of IceTheme template
	
	* We strongly reccommend you to not edit other CSS or Less files as in 
	case you will update the template all your changes might be lost.	
	
**********************************************************************************/
.logo { background: #fff; border-bottom: 2px solid #5c3919; padding-top: 5px; padding-bottom: 5px; }
.customtimez {
    background: rgba(0, 0, 0, 0) url("../images/bg2.png") no-repeat scroll left -4px;
    color: #4d6567;
    float: right;
    font-size: 24px;
    margin: 15px 0 0;
    padding: 0 0 0 45px;
    text-align: left;
    margin-right: 15px;
}
.customtimez p {
    margin: 0;
    padding: 0px 0 31px;
	color: #a9853b;
}
#logo img.logo {
	width: auto;
	height: 110px;
	background: none;
	border-bottom: 0px;
	padding: 0px;
}
#header #logo { padding: 0px;}
#mainmenu-container {background-color: rgba(68, 54, 54, 0.7);}
#mainmenu-container #mainmenu.floatright { float: none; padding: 0; text-transform: uppercase;}
#slideshow, #slideshow div, #slideshow div li, #slideshow div li img { max-height: 530px;}
#slideshow div.icefullslide, #slideshow div li, #slideshow div li img { max-width: 1600px !important; top: 0px !important;}
#content, #footer { background: url(../images/header.jpg); border-top: 2px solid #fff;}
#header.header_fixed::before { background: none;}
#content #section1 h1 { text-align: center; background: url(../images/bg3.png) center top no-repeat; color: #433737; font-weight: bold; padding-top: 60px;}
#section1 .fadeIn { opacity: 100;}
#content .ice_section .ice_about .team_member .team_info ul li a span { display: block !important; font-size: 35px !important;}
#content .ice_section .ice_about .team_member { margin-bottom: 0px !important;}
#content .ice_section .ice_about .team_member .team_info ul li { width: 100% !important;}
#section1 .wk-slideshow ul.nav { display: block; float: none; margin: 0 auto; text-align: center;}
#section1 .wk-slideshow ul.nav li { display: inline-table; float: none;}
#section1 .wk-slideshow ul.nav li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #a9853b;
    border-radius: 0;
    box-shadow: none;
    color: #a9853b;
    font-size: 30px;
    margin: 15px;
    padding: 5px;
    text-transform: uppercase;
	text-shadow: none;
	background: #fff;
}
#section1 .wk-slideshow ul.nav li:hover {
    background: #a9853b none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
#section1 .wk-slideshow ul.nav li.active {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #554b4a;
    color: #fff;
    padding-bottom: 5px;
}
#section1 .wk-slideshow-tabs .slides-container { background: #fff; border: 3px solid #a88438 !important; border-radius: 12px; margin-left: 20px; margin-right: 20px; }
#section1 .customice_col_4 h3 { font-size: 25px; font-weight: bold; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #a88438;}
#section1 .customice_col_4 p { margin-bottom: 0px;}
#section1 .customice_col_4 em { font-size: 16px; color: #613a1d !important; margin-bottom: 0px;}
#section1 .ice_about.container { margin: 0 auto; text-align: center;}
#section1 .ice_about .customice_col_4 { display: inline-table; float: none; padding-left: 20px; padding-right: 20px;}
#section2 {
    background: #f4f6f7 none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    clear: both;
    height: 407px;
	margin: 0 !important;
	padding: 0 !important;
}
#section2 .custom {
    margin: 0 auto;
    width: 1020px;
}
.vidozz1 {
    float: left;
    width: 42%;
}
.vidozz1 h3 {
    border-bottom: 2px solid #39bac6;
    font-size: 23px;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 40px 0 10px;
}
.vidozz1 h3 span {
    color: #94a7b5;
}
.vidozz1 li {
    background: rgba(0, 0, 0, 0) url("../images/bg3.jpg") no-repeat scroll left top;
    font-size: 20px;
    margin: 0;
    padding: 0 0 30px 30px;
	list-style: none;
}
.vidozz2 {
    border: 2px solid #aca483;
    margin-top: 40px;
}
.vidozz2 iframe, .vidozz2 object, .vidozz2 embed {
    height: 335px !important;
    width: 100% !important;
}
#section3 {
    background: rgba(0, 0, 0, 0) url("../images/bg4.jpg") no-repeat scroll center top;
    height: 340px;
    margin: 0 !important;
    padding: 0 !important;
}
#section3 .custom {
    margin: 0 auto;
    padding: 0;
    /*width: 1000px;*/
}
#section3 .custom h3, #section3 .custom p, #section3 .custom a {
    margin-left: 620px;
	padding-right: 5px;
}
#section3 .custom h3 {
    border-bottom: 2px solid #39bac6;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
	color: #aa863c;
	font-weight: bold;
}
#section3 .custom p {
    font-size: 14px;
}
#section3 .custom a {
    background: #54a3aa none repeat scroll 0 0;
    clear: both;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    margin-left: 700px;
    margin-top: 25px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
#section4 {
/*min-height: 695px;*/
padding: 0 !important;
margin: 0 !important;
}
.eventblock {
    margin: 0 auto;
    padding: 0;
    width: 1020px;
}
.moduletableeventzzz {
    color: #413634;
    float: left;
    font-size: 15px;
    line-height: 15px;
    width: 400px;
}
.moduletableeventzzz li { list-style: none;}
.moduletableeventzzz h3 {
    font-size: 30px;
    margin: 0;
    padding: 40px 0 20px;
	font-weight: bold;
	color: #413634;
}
.moduletableeventzzz a {
    color: #e17e3f;
    display: block;
    font-size: 18px;
    margin-top: 20px;
}
.moduletableeventzzz a:hover {
    color: #fff;
    text-decoration: none;
}
.moduletableeventzzz .created {
    color: #999999;
    padding-bottom: 10px;
}
.moduletable-none {
    float: left;
    padding-left: 40px;
    padding-top: 30px;
    width: 500px;
	margin-bottom: 20px;
}
.moduletable-none li {
    float: left;
}
.moduletable-none li a {
    color: #e17e3f !important;
}
.moduletable-none li a:hover {
    color: #fff !important;
}
.moduletable-none li.s5_ts_active a {
    color: #fff !important;
}
#s5_button {
    width: 100% !important;
}
.customaboutzz, .customdoctorss {
    color: #593616;
    font-size: 15px;
    line-height: normal;
    padding-top: 20px;
}
.customaboutzz img {
    border: 3px solid #fff;
    float: left;
    margin-right: 10px;
}
.wk-slideshow-tabs .nav li { background: #a9833c; text-shadow: none; color: #fff; font-weight: bold;}
.wk-slideshow-tabs .nav li:hover { background: #413634;}
.wk-slideshow-tabs .nav li.active { color: #a9833c;}
.wk-map { clear: both;}
.customdirect {
	clear: both;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 30px;
    height: 35px;
    margin-top: 60px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    z-index: 300;
}
#section5 { padding-top: 60px;}
.customfootlogo img { height: 61px !important;}
.item-742 {display: none !important;}
body.about #slideshow {margin-top: 182px;}
.page-header h2 { font-size: 35px; font-weight: bold; color: #413634; text-transform: uppercase;}
h3 {font-weight: bold; color: #8a5838;}
#header {height: 193px !important;}
body.no_slideshow.param_fixed_header {padding-top: 183px !important;}
#header.header_fixed, #header.header_fixed::before {background: none !important;}
.customservic { padding-top: 122px;}
.it_circle {
    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
    border-radius: 100%;
    color: #848484;
    display: inline-block;
    height: 210px;
    margin: 20px;
    padding: 10px;
    width: 210px;
	text-align: center;
}
.it_circle span {
    color: #1693a5;
    display: block;
    font-family: "Open Sans",Georgia,"Times New Roman",Times,serif;
    font-size: 48px;
    font-weight: 100;
    line-height: 58px;
    padding-top: 30px;
}
#section1 .mb2-portfolio-container {padding-top: 35px;}
#section1 .custom h1 {margin-top: -20px;}
#section1 .is-carousel .mb2-portfolio-carousel-nav {top: -10px; }
#slideshow {background: #443838;}
.icefullslide .slides-pagination, .icefullslide .slides-navigation {display: none;}


#main_wrapper {
    /* position: relative; */
}

#header {
     position: relative;
     background: #292222;
}
.title.mb2-portfolio-item-title {text-align: center;}
.breadcrumb a { color: #0066a2;}

