/* 
@license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
*/ 

.icefullslide {
  position: relative;
}

	.icefullslide .slides-container {
		display: none;}

	.icefullslide .scrollable {
		*zoom: 1;
		position: relative;
		top: 0;
		left: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;}
		
		.icefullslide .scrollable:after {
		  content: "";
		  display: table;
		  clear: both;}


/* Captions */
.icefullslide .icefullslide_caption {
	position:absolute;
	bottom: 0;
	width: 100%;
	background:rgba(0,0,0,.7);
	color: #fff;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 35px;}
	
	.icefullslide .icefullslide_caption h3 {
		color:#fff;
		margin: 0;}
	
	.icefullslide .icefullslide_caption p {
		color:rgba(255,255,255,.75);
		margin: 0 0 5px;}

/* Navigation (arrows) */
.icefullslide .slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 50%;
	margin-top:-35px;
	width: 100%;}

	.icefullslide .slides-navigation a {
		position: absolute;
		width:50px;
		height:70px;
		background:url("../images/icefullslide_arrows.png") no-repeat center center;
		display: block;}
	
	.icefullslide .slides-navigation a.prev {
		background-position:top;
		left: 15px;}
	
	.icefullslide .slides-navigation a.next {
		background-position:bottom;
		right: 15px;}
		
	.icefullslide .slides-navigation a span {
		display:none;
	}
	  

/* Pagination */
.icefullslide .slides-pagination {
	position: absolute;
	z-index: 3;
	bottom: 10px;
	text-align:center;
	width: 100%;}

	.icefullslide .slides-pagination a {
		border: 2px solid #fff;
		border-radius: 15px;
		width: 12px;
		height: 12px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		zoom: 1;
		*display: inline;
		margin: 4px;
		overflow: hidden;
		text-indent: -9999px;
		font-size:0px;}
	
	.icefullslide .slides-pagination a.current {
		background: #fff;}


/* Preloader */
.icefullslide.icefullslide_preload {
}

.icefullslide.icefullslide_preload .icefullslide_preload_icon {
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -3em;
	margin-left:-3em;
	z-index: 99;
	text-indent: -9999em;
	
	border-top: .5em solid rgba(255, 255, 255, 0.25);
	border-right: .5em solid rgba(255, 255, 255, 0.25);
	border-bottom: .5em solid rgba(255, 255, 255, 0.25);
	border-left: .5em solid #ffffff;
	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	
	-webkit-animation: preload_icon 1.1s infinite linear;
	-moz-animation: preload_icon 1.1s infinite linear;
	animation: preload_icon 1.1s infinite linear;}
	
	.icefullslide.icefullslide_preload .icefullslide_preload_icon,
	.icefullslide.icefullslide_preload .icefullslide_preload_icon:after {
		border-radius: 50%;
		width: 5em;
		height: 5em;}
		
		
	@-webkit-keyframes preload_icon {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	
	@-moz-keyframes preload_icon {
		0% {
			-moz-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-moz-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	
	@keyframes preload_icon {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}