.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.btn.icebtn,
p.readmore a.btn {
	border-color: #3775ca;
}
@-webkit-keyframes BTN {
	0% {
		border-color: #3775ca;
	}
	50% {
		border-color: #29599b;
	}
	100% {
		border-color: #3775ca;
	}
}
@-moz-keyframes BTN {
	0% {
		border-color: #3775ca;
	}
	50% {
		border-color: #29599b;
	}
	100% {
		border-color: #3775ca;
	}
}
@-o-keyframes BTN {
	0% {
		border-color: #3775ca;
	}
	50% {
		border-color: #29599b;
	}
	100% {
		border-color: #3775ca;
	}
}
@keyframes BTN {
	0% {
		border-color: #3775ca;
	}
	50% {
		border-color: #29599b;
	}
	100% {
		border-color: #3775ca;
	}
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #3775ca;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px #ecf2fa;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #4b83cf;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #4b83cf;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #4b83cf;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #4b83cf;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #4b83cf;
}
.tooltip .tooltip-inner {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	background: #4b83cf;
}
.highlight {
	color: #2b5ea3;
}
ul.categories-module li.active a {
	color: #3069b7;
	background-color: #e8e8e8;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
	background: #5f91d5;
}
body.contentpane .mailto-close a {
	background: #3775ca url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
	background-color: #739fda;
}
body .nivo-lightbox-theme-default .nivo-lightbox-title {
	background: #3069b7;
}
.mb2-portfolio-filter-nav .dropdown a.btn.icebtn i {
	margin-right: 4px;
	color: #3069b7;
}
.mb2-portfolio-filter-nav .dropdown.open a.btn.icebtn {
	border-color: #739fda;
}
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu {
	border-color: #cccccc;
}
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu li a:hover,
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu li a:focus {
	background: #4b83cf;
}
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu li.active a {
	background: #4b83cf;
}
.mb2-portfolio-projects .mb2-portfolio-media .mb2-portfolio-mark a,
.mb2-portfolio-mod-projects .mb2-portfolio-media .mb2-portfolio-mark a,
.mb2-portfolio-related-items .mb2-portfolio-media .mb2-portfolio-mark a {
	background-color: #4b83cf;
	background-color: rgba(75,131,207,0.75);
}
.mb2-portfolio-projects .mb2-portfolio-media .mb2-portfolio-mark a:hover,
.mb2-portfolio-mod-projects .mb2-portfolio-media .mb2-portfolio-mark a:hover,
.mb2-portfolio-related-items .mb2-portfolio-media .mb2-portfolio-mark a:hover {
	background-color: #4b83cf;
	background-color: #4b83cf;
}
.mb2-portfolio-single-item .mb2-portfolio-nav ul li a:hover {
	background: #3775ca;
	border-color: #3775ca;
}
.mb2-portfolio-single-item .mb2-portfolio-social-shares ul li a {
	border-color: #3775ca;
	color: #3069b7;
}
.mb2-portfolio-single-item .mb2-portfolio-social-shares ul li a:hover {
	background: #3775ca;
}
.is-carousel .mb2-portfolio-carousel-nav {
	top: -45px;
}
.is-carousel .mb2-portfolio-carousel-nav .prev,
.is-carousel .mb2-portfolio-carousel-nav .next {
	background: #5f91d5;
}
.is-carousel .mb2-portfolio-carousel-nav .prev:hover,
.is-carousel .mb2-portfolio-carousel-nav .next:hover {
	background: #3775ca;
}
ul.icesocialblock li a:hover {
	background: #3775ca;
	border-color: #26528f;
}
body #portfolio-filter .portfolio-item .p-box .hover-wrapper .inner a.m-up.image-link i.fa,
body #portfolio-filter .portfolio-item .p-box .hover-wrapper .inner a.open-popup-link i.fa {
	color: #739fda !important;
}
ul.nav_utility li a {
	border: 1px solid #5f91d5;
}
ul.nav_utility li a:hover {
	background-color: #5f91d5;
	background-color: rgba(95,145,213,0.15);
}
ul.nav_utility li.active a {
	background-color: #4b83cf;
	background-color: rgba(75,131,207,0.5);
	border-color: #5f91d5;
}
#responsivebar-inner .moduletable > h3:before {
	background: #3775ca;
}
div#mobile-btn a.btn-navbar:focus .icon-bar,
div#mobile-btn a.btn-navbar:hover .icon-bar {
	background-color: #739fda;
}
body .rssocial-icons .rssocial-link {
	border: 1px solid #cccccc;
}
body .rssocial-icons .rssocial-link:hover [class^="rssocial-icon-"]:before,
body .rssocial-icons .rssocial-link:hover [class*=" rssocial-icon-"]:before {
	color: #5f91d5 !important;
}
img.artsexylightbox {
	border: 1px solid #d9d9d9;
}
img.artsexylightbox:hover {
	border-color: #4b83cf;
}
.scdp-wrapper-center .scdp-text-vert {
	text-shadow: 1px 1px 1px #2b5ea3;
}
.blog .item-image a > div.rollover > div,
.blog-featured .item-image a > div.rollover > div {
	border: 1px solid #5f91d5;
}
.blog .item-image a > div.rollover > div:before,
.blog-featured .item-image a > div.rollover > div:before {
	background-color: #5f91d5;
}
.blog .item-image a > div.rollover > div:after,
.blog-featured .item-image a > div.rollover > div:after {
	background-color: #5f91d5;
}
.blog .item:hover .it_caption,
.blog-featured .item:hover .it_caption {
	background-color: #3069b7;
	background-color: rgba(48,105,183,0.9);
}
#slideshow .icefullslide nav.slides-pagination a:hover:before {
	background: #4b83cf;
}
#slideshow .icefullslide nav.slides-pagination a.current:before {
	background: #4b83cf;
}
#slideshow .camera_pag ul li:hover {
	background: #4b83cf;
}
#slideshow .camera_pag ul li.cameracurrent {
	background: #4b83cf;
}
#social_tabs ul.nav-tabs li.active a {
	background: #3775ca;
	text-shadow: 1px 1px 1px #2b5ea3;
}
.category-module.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot span {
	background: #d9d9d9;
}
.category-module.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot:hover span {
	background: #bfbfbf;
}
.category-module.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span {
	background: #3775ca;
}
.category-module.owl-carousel .item:hover .item-inner {
	background-color: #3775ca;
	background-color: rgba(55,117,202,0.9);
}
body ul#jj_sl_navigation li a {
	background-color: #3775ca !important;
}
body ul#jj_sl_navigation li a:hover {
	background-color: #5f91d5 !important;
}
.about_testimonials blockquote:before,
.about_testimonials blockquote:after {
	color: #3775ca;
}
.about_testimonials.owl-theme .owl-controls .owl-page.active span {
	background: #3775ca;
}
#pageslide .close {
	background: #3775ca;
}
#pageslide .close:hover {
	background: #4b83cf;
}
#gotop .scrollup {
	background-color: #3775ca;
	background-color: rgba(55,117,202,0.75);
}
#gotop.gotop_active .scrollup:hover {
	background-color: #3775ca;
	background-color: rgba(55,117,202,0.9);
}
body.page-about .page-team ul li a:hover {
	color: #3775ca;
}
body.page-contact ul.icesocialblock li a:hover {
	color: #3775ca;
}
body.page-pricing div.pricing-table .pricing-table-header {
	background: -moz-linear-gradient(top,#4b83cf,#3775ca);
	background: -webkit-gradient(linear,0 0,0 100%,from(#4b83cf),to(#3775ca));
	background: -webkit-linear-gradient(top,#4b83cf,#3775ca);
	background: -o-linear-gradient(top,#4b83cf,#3775ca);
	background: linear-gradient(to bottom,#4b83cf,#3775ca);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b82cf', endColorstr='#ff3774c9', GradientType=0);
	background-color: #437dcd;
	background-image: -moz-linear-gradient(top,#4b83cf,#3775ca);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#4b83cf),to(#3775ca));
	background-image: -webkit-linear-gradient(top,#4b83cf,#3775ca);
	background-image: -o-linear-gradient(top,#4b83cf,#3775ca);
	background-image: linear-gradient(to bottom,#4b83cf,#3775ca);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b82cf', endColorstr='#ff3774c9', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
	background: #4b83cf;
}
.item-pagepage-portfolio .project-nav a {
	background-color: #5f91d5;
}
.item-pagepage-portfolio .project-nav a:hover {
	background-color: #88addf;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
	background-color: #5f91d5;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
	background-color: #88addf;
}
body.offline_page,
body.error_page {
	background: #3775ca;
}
body.offline_page #content_page,
body.error_page #content_page {
	box-shadow: 0 0 15px #3069b7;
}
body.offline_page #offline_social ul li a:hover {
	color: #3775ca;
}
#header.header_fixed {
	background: #3775ca;
}
#header.header_fixed:before {
	background: #739fda;
}
#content .ice_section h2.heading em {
	font-style: normal;
	color: #3069b7;
}
#content .ice_section h3.heading:before {
	background: #4b83cf;
}
#content .ice_section h3.heading em {
	color: #3069b7;
}
#content .ice_section#section1 h2.heading:before {
	background: #4b83cf;
}
#content .ice_section#section2 h2.heading {
	border-bottom: 1px solid #5f91d5;
}
#content .ice_section#section3 h2.heading:before {
	background: #4b83cf;
}
#content .ice_section#section4 h2.heading:before {
	background: #4b83cf;
}
#content .ice_section#section5 h2.heading:before {
	background: #4b83cf;
}
#content .ice_section .ice_portfolio_stats .it_stats .it_circle span {
	color: #3775ca;
}
#content .ice_section .ice_portfolio_stats .it_stats.owl-theme .owl-controls .owl-dots .owl-dot.active span {
	background: #5f91d5;
}
#content .ice_section .ice_services .fa {
	background: #3775ca;
}
#content .ice_section .ice_services .row-fluid [class*="span"]:hover .fa {
	background: #4b83cf;
}
#content .ice_section .ice_about .team_member .team_info ul li a:hover {
	color: #5f91d5;
}
#content #sidebar .sidebar_module .sidebar_module_heading:before {
	background: #3775ca;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 {
	background: #3775ca;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
	text-shadow: 1px 1px 1px #2b5ea3;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading:before {
	background: #739fda;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_content .btn.icebtn {
	color: #fff;
	border-color: #88addf;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 {
	background: #2a5a9d;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 .sidebar_module_heading {
	text-shadow: 1px 1px 1px #1f4375;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 .sidebar_module_heading:before {
	background: #457fce;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 .sidebar_module_content .btn.icebtn {
	color: #fff;
	border-color: #457fce;
}
@-webkit-keyframes STYLE1 {
	0% {
		border-color: #88addf;
	}
	50% {
		border-color: #ffffff;
	}
	100% {
		border-color: #88addf;
	}
}
@-moz-keyframes STYLE1 {
	0% {
		border-color: #88addf;
	}
	50% {
		border-color: #ffffff;
	}
	100% {
		border-color: #88addf;
	}
}
@-o-keyframes STYLE1 {
	0% {
		border-color: #88addf;
	}
	50% {
		border-color: #ffffff;
	}
	100% {
		border-color: #88addf;
	}
}
@keyframes STYLE1 {
	0% {
		border-color: #88addf;
	}
	50% {
		border-color: #ffffff;
	}
	100% {
		border-color: #88addf;
	}
}
@-webkit-keyframes STYLE2 {
	0% {
		border-color: #457fce;
	}
	50% {
		border-color: #d2e0f3;
	}
	100% {
		border-color: #457fce;
	}
}
@-moz-keyframes STYLE2 {
	0% {
		border-color: #457fce;
	}
	50% {
		border-color: #d2e0f3;
	}
	100% {
		border-color: #457fce;
	}
}
@-o-keyframes STYLE2 {
	0% {
		border-color: #457fce;
	}
	50% {
		border-color: #d2e0f3;
	}
	100% {
		border-color: #457fce;
	}
}
@keyframes STYLE2 {
	0% {
		border-color: #457fce;
	}
	50% {
		border-color: #d2e0f3;
	}
	100% {
		border-color: #457fce;
	}
}
#promo .moduletable .moduletable_heading:before {
	background: #3775ca;
}
#showcase #showcase-modules .moduletable .moduletable_heading:before {
	background: #3775ca;
}
#footer .moduletable .moduletable_heading:before {
	background: #3775ca;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
	background: #4b83cf;
}
#mainmenu ul.dropdown-menu {
	background: #4b83cf;
}
#mainmenu ul.dropdown-menu > li.active > a {
	background: #5f91d5;
}
#mainmenu ul.dropdown-menu .divider {
	background: #2b5ea3;
	border-bottom-color: #5f91d5;
}
#mainmenu ul.dropdown-menu .nav-header {
	border-bottom: 1px dotted #cccccc;
}
#pageslide #responsivebar-inner ul.menu > li.active > a {
	color: #26528f;
}
