/* Compiled Less CSS File */
/* Generated from "style5.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  border-color: #4b893f;
}
@-webkit-keyframes BTN {
  0% {
    border-color: #4b893f;
  }
  50% {
    border-color: #345f2c;
  }
  100% {
    border-color: #4b893f;
  }
}
@-moz-keyframes BTN {
  0% {
    border-color: #4b893f;
  }
  50% {
    border-color: #345f2c;
  }
  100% {
    border-color: #4b893f;
  }
}
@-o-keyframes BTN {
  0% {
    border-color: #4b893f;
  }
  50% {
    border-color: #345f2c;
  }
  100% {
    border-color: #4b893f;
  }
}
@keyframes BTN {
  0% {
    border-color: #4b893f;
  }
  50% {
    border-color: #345f2c;
  }
  100% {
    border-color: #4b893f;
  }
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #4b893f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #cde6c8;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #559a47;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #559a47;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #559a47;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #559a47;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #559a47;
}
.tooltip .tooltip-inner {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  background: #559a47;
}
.highlight {
  color: #38662f;
}
/* Joomla 
----------*/
ul.categories-module li.active a {
  color: #417837;
  background-color: #e8e8e8;
}
.newsflash-carousel ol.flex-control-nav li a.flex-active {
  background: #5eac4f;
}
body.contentpane .mailto-close a {
  background: #4b893f url(../../images/system/icon_close.png) no-repeat center;
}
body.contentpane .mailto-close a:hover {
  background-color: #6db55f;
}
/* Extras 
-----------*/
body .nivo-lightbox-theme-default .nivo-lightbox-title {
  background: #417837;
}
.mb2-portfolio-filter-nav .dropdown a.btn.icebtn i {
  margin-right: 4px;
  color: #417837;
}
.mb2-portfolio-filter-nav .dropdown.open a.btn.icebtn {
  border-color: #6db55f;
}
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu {
  border-color: #cccccc;
}
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu li a:hover,
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu li a:focus {
  background: #559a47;
}
.mb2-portfolio-filter-nav .dropdown ul.mb2-portfolio-filter-nav-list.dropdown-menu li.active a {
  background: #559a47;
}
.mb2-portfolio-projects .mb2-portfolio-media .mb2-portfolio-mark a,
.mb2-portfolio-mod-projects .mb2-portfolio-media .mb2-portfolio-mark a,
.mb2-portfolio-related-items .mb2-portfolio-media .mb2-portfolio-mark a {
  background-color: #559a47;
  background-color: rgba(85, 154, 71, 0.75);
}
.mb2-portfolio-projects .mb2-portfolio-media .mb2-portfolio-mark a:hover,
.mb2-portfolio-mod-projects .mb2-portfolio-media .mb2-portfolio-mark a:hover,
.mb2-portfolio-related-items .mb2-portfolio-media .mb2-portfolio-mark a:hover {
  background-color: #559a47;
}
.mb2-portfolio-single-item .mb2-portfolio-nav ul li a:hover {
  background: #4b893f;
  border-color: #4b893f;
}
.mb2-portfolio-single-item .mb2-portfolio-social-shares ul li a {
  border-color: #4b893f;
  color: #417837;
}
.mb2-portfolio-single-item .mb2-portfolio-social-shares ul li a:hover {
  background: #4b893f;
}
.is-carousel .mb2-portfolio-carousel-nav {
  top: -45px;
}
.is-carousel .mb2-portfolio-carousel-nav .prev,
.is-carousel .mb2-portfolio-carousel-nav .next {
  background: #5eac4f;
}
.is-carousel .mb2-portfolio-carousel-nav .prev:hover,
.is-carousel .mb2-portfolio-carousel-nav .next:hover {
  background: #4b893f;
}
ul.icesocialblock li a:hover {
  background: #4b893f;
  border-color: #2e5527;
}
body #portfolio-filter .portfolio-item .p-box .hover-wrapper .inner a.m-up.image-link i.fa,
body #portfolio-filter .portfolio-item .p-box .hover-wrapper .inner a.open-popup-link i.fa {
  color: #6db55f !important;
}
ul.nav_utility li a {
  border: 1px solid #5eac4f;
}
ul.nav_utility li a:hover {
  background-color: #5eac4f;
  background-color: rgba(94, 172, 79, 0.15);
}
ul.nav_utility li.active a {
  background-color: #559a47;
  background-color: rgba(85, 154, 71, 0.5);
  border-color: #5eac4f;
}
#responsivebar-inner .moduletable > h3:before {
  background: #4b893f;
}
div#mobile-btn a.btn-navbar:focus .icon-bar,
div#mobile-btn a.btn-navbar:hover .icon-bar {
  background-color: #6db55f;
}
body .rssocial-icons .rssocial-link {
  border: 1px solid #cccccc;
}
body .rssocial-icons .rssocial-link:hover [class^="rssocial-icon-"]:before,
body .rssocial-icons .rssocial-link:hover [class*=" rssocial-icon-"]:before {
  color: #5eac4f !important;
}
img.artsexylightbox {
  border: 1px solid #d9d9d9;
}
img.artsexylightbox:hover {
  border-color: #559a47;
}
.scdp-wrapper-center .scdp-text-vert {
  text-shadow: 1px 1px 1px #38662f;
}
.blog .item-image a > div.rollover > div,
.blog-featured .item-image a > div.rollover > div {
  border: 1px solid #5eac4f;
}
.blog .item-image a > div.rollover > div:before,
.blog-featured .item-image a > div.rollover > div:before {
  background-color: #5eac4f;
}
.blog .item-image a > div.rollover > div:after,
.blog-featured .item-image a > div.rollover > div:after {
  background-color: #5eac4f;
}
.blog .item:hover .it_caption,
.blog-featured .item:hover .it_caption {
  background-color: #417837;
  background-color: rgba(65, 120, 55, 0.9);
}
#slideshow .icefullslide nav.slides-pagination a:hover:before {
  background: #559a47;
}
#slideshow .icefullslide nav.slides-pagination a.current:before {
  background: #559a47;
}
#slideshow .camera_pag ul li:hover {
  background: #559a47;
}
#slideshow .camera_pag ul li.cameracurrent {
  background: #559a47;
}
#social_tabs ul.nav-tabs li.active a {
  background: #4b893f;
  text-shadow: 1px 1px 1px #38662f;
}
.category-module.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot span {
  background: #d9d9d9;
}
.category-module.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot:hover span {
  background: #bfbfbf;
}
.category-module.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span {
  background: #4b893f;
}
.category-module.owl-carousel .item:hover .item-inner {
  background-color: #4b893f;
  background-color: rgba(75, 137, 63, 0.9);
}
body ul#jj_sl_navigation li a {
  background-color: #4b893f !important;
}
body ul#jj_sl_navigation li a:hover {
  background-color: #5eac4f !important;
}
.about_testimonials blockquote:before,
.about_testimonials blockquote:after {
  color: #4b893f;
}
.about_testimonials.owl-theme .owl-controls .owl-page.active span {
  background: #4b893f;
}
#pageslide .close {
  background: #4b893f;
}
#pageslide .close:hover {
  background: #559a47;
}
#gotop .scrollup {
  background-color: #4b893f;
  background-color: rgba(75, 137, 63, 0.75);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #4b893f;
  background-color: rgba(75, 137, 63, 0.9);
}
body.page-about .page-team ul li a:hover {
  color: #4b893f;
}
body.page-contact ul.icesocialblock li a:hover {
  color: #4b893f;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background-color: #519344;
  background-image: -moz-linear-gradient(top, #559a47, #4b893f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#559a47), to(#4b893f));
  background-image: -webkit-linear-gradient(top, #559a47, #4b893f);
  background-image: -o-linear-gradient(top, #559a47, #4b893f);
  background-image: linear-gradient(to bottom, #559a47, #4b893f);
  background: -moz-linear-gradient(top, #559a47, #4b893f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#559a47), to(#4b893f));
  background: -webkit-linear-gradient(top, #559a47, #4b893f);
  background: -o-linear-gradient(top, #559a47, #4b893f);
  background: linear-gradient(to bottom, #559a47, #4b893f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff559a47', endColorstr='#ff4b893f', GradientType=0);
}
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected,
.portfolio-listpage-portfolio .projects-filter ul li a:link.selected:hover,
.portfolio-listpage-portfolio .projects-filter ul li a:visited.selected:hover {
  background: #559a47;
}
.item-pagepage-portfolio .project-nav a {
  background-color: #5eac4f;
}
.item-pagepage-portfolio .project-nav a:hover {
  background-color: #7dbd71;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a {
  background-color: #5eac4f;
}
.item-pagepage-portfolio .project-wrapper .flex-direction-nav li a:hover {
  background-color: #7dbd71;
}
body.offline_page,
body.error_page {
  background: #4b893f;
}
body.offline_page #content_page,
body.error_page #content_page {
  box-shadow: 0 0 15px #417837;
}
body.offline_page #offline_social ul li a:hover {
  color: #4b893f;
}
/* Layout
*-----------------*/
#header.header_fixed {
  background: #4b893f;
}
#header.header_fixed:before {
  background: #6db55f;
}
#content .ice_section h2.heading em {
  font-style: normal;
  color: #417837;
}
#content .ice_section h3.heading:before {
  background: #559a47;
}
#content .ice_section h3.heading em {
  color: #417837;
}
#content .ice_section#section1 h2.heading:before {
  background: #559a47;
}
#content .ice_section#section2 h2.heading {
  border-bottom: 1px solid #5eac4f;
}
#content .ice_section#section3 h2.heading:before {
  background: #559a47;
}
#content .ice_section#section4 h2.heading:before {
  background: #559a47;
}
#content .ice_section#section5 h2.heading:before {
  background: #559a47;
}
#content .ice_section .ice_portfolio_stats .it_stats .it_circle span {
  color: #4b893f;
}
#content .ice_section .ice_portfolio_stats .it_stats.owl-theme .owl-controls .owl-dots .owl-dot.active span {
  background: #5eac4f;
}
#content .ice_section .ice_services .fa {
  background: #4b893f;
}
#content .ice_section .ice_services .row-fluid [class*="span"]:hover .fa {
  background: #559a47;
}
#content .ice_section .ice_about .team_member .team_info ul li a:hover {
  color: #5eac4f;
}
#content #sidebar .sidebar_module .sidebar_module_heading:before {
  background: #4b893f;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 {
  background: #4b893f;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #38662f;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_heading:before {
  background: #6db55f;
}
#content #sidebar .sidebar_module.sidebar_module_style-1 .sidebar_module_content .btn.icebtn {
  color: #fff;
  border-color: #7dbd71;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 {
  background: #333333;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #1a1a1a;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 .sidebar_module_heading:before {
  background: #595959;
}
#content #sidebar .sidebar_module.sidebar_module_style-2 .sidebar_module_content .btn.icebtn {
  color: #fff;
  border-color: #595959;
}
@-webkit-keyframes STYLE1 {
  0% {
    border-color: #7dbd71;
  }
  50% {
    border-color: #fdfefc;
  }
  100% {
    border-color: #7dbd71;
  }
}
@-moz-keyframes STYLE1 {
  0% {
    border-color: #7dbd71;
  }
  50% {
    border-color: #fdfefc;
  }
  100% {
    border-color: #7dbd71;
  }
}
@-o-keyframes STYLE1 {
  0% {
    border-color: #7dbd71;
  }
  50% {
    border-color: #fdfefc;
  }
  100% {
    border-color: #7dbd71;
  }
}
@keyframes STYLE1 {
  0% {
    border-color: #7dbd71;
  }
  50% {
    border-color: #fdfefc;
  }
  100% {
    border-color: #7dbd71;
  }
}
@-webkit-keyframes STYLE2 {
  0% {
    border-color: #595959;
  }
  50% {
    border-color: #b3b3b3;
  }
  100% {
    border-color: #595959;
  }
}
@-moz-keyframes STYLE2 {
  0% {
    border-color: #595959;
  }
  50% {
    border-color: #b3b3b3;
  }
  100% {
    border-color: #595959;
  }
}
@-o-keyframes STYLE2 {
  0% {
    border-color: #595959;
  }
  50% {
    border-color: #b3b3b3;
  }
  100% {
    border-color: #595959;
  }
}
@keyframes STYLE2 {
  0% {
    border-color: #595959;
  }
  50% {
    border-color: #b3b3b3;
  }
  100% {
    border-color: #595959;
  }
}
#promo .moduletable .moduletable_heading:before {
  background: #4b893f;
}
#showcase #showcase-modules .moduletable .moduletable_heading:before {
  background: #4b893f;
}
#footer .moduletable .moduletable_heading:before {
  background: #4b893f;
}
/* MainMenu
/**************/
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background: #559a47;
}
#mainmenu ul.dropdown-menu {
  background: #559a47;
}
#mainmenu ul.dropdown-menu > li.active > a {
  background: #5eac4f;
}
#mainmenu ul.dropdown-menu .divider {
  background: #38662f;
  border-bottom-color: #5eac4f;
}
#mainmenu ul.dropdown-menu .nav-header {
  border-bottom: 1px dotted #cccccc;
}
#pageslide #responsivebar-inner ul.menu > li.active > a {
  color: #2e5527;
}
/* Responsive part
/******************/