/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element{width:2px;} 

// Core variables and mixins
@import "../../../../../media/jui/less/variables.less";
@import "../../../../../media/jui/less/mixins.less";

/* Import LESS variables and mixins files */
@import "../vars.less";


/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/

@bg_primary:			#556270;	
@bg_secondary:			#333;	


/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
	border-color: lighten(@bg_primary,0%);
}
@-webkit-keyframes BTN {
 0%   { border-color: lighten(@bg_primary,0%); }
 50% { border-color:  darken(@bg_primary,12%); }
 100% { border-color: lighten(@bg_primary,0%); }
}
@-moz-keyframes BTN  {
 0%   { border-color: lighten(@bg_primary,0%); }
 50% { border-color:  darken(@bg_primary,12%); }
 100% { border-color: lighten(@bg_primary,0%); }
}
@-o-keyframes BTN  {
   0%   { border-color: lighten(@bg_primary,0%); }
 50% { border-color:  darken(@bg_primary,12%); }
 100% { border-color: lighten(@bg_primary,0%); }
}
@keyframes BTN  {
   0%   { border-color: lighten(@bg_primary,0%); }
 50% { border-color:  darken(@bg_primary,12%); }
 100% { border-color: lighten(@bg_primary,0%); }
}		
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: lighten(@bg_primary,0%);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px lighten(@bg_primary,45%);
}
.tooltip {
	&.bottom .tooltip-arrow { 
		border-bottom-color:lighten(@bg_primary,5%);
	}
	&.bottom .tooltip-arrow {
		 border-bottom-color:lighten(@bg_primary,5%);
	}
	&.top .tooltip-arrow    { 
		border-top-color:lighten(@bg_primary,5%);
	}
	&.left .tooltip-arrow   { 
		border-left-color:lighten(@bg_primary,5%);
	}
	&.right .tooltip-arrow  { 
		border-right-color:lighten(@bg_primary,5%);
	}
	.tooltip-inner {
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
		background:lighten(@bg_primary,5%);
	}
}
.highlight {
	color: darken(@bg_primary,10%);
}

/* Joomla 
----------*/
ul.categories-module {
	li {
		&.active {
			a {
				color:darken(@bg_primary,5%);
				background-color:darken(@bg_light,4%);
			}
		}
	}
}
.newsflash-carousel {
	ol.flex-control-nav {
		li {
			a {
				&.flex-active {
					background:lighten(@bg_primary,10%);
				}
			}
		}
	}
}
body.contentpane {
	.mailto-close a {
		background:@bg_primary url(../../images/system/icon_close.png) no-repeat center;
		&:hover {
			background-color:lighten(@bg_primary,15%);
		}
	}
}

/* Extras 
-----------*/
body .nivo-lightbox-theme-default .nivo-lightbox-title {
	background:darken(@bg_primary,5%);
}
.mb2-portfolio-filter-nav {
	.dropdown {
		a.btn.icebtn {
			i {
				margin-right: 4px;
				color:darken(@bg_primary,5%);
			}
		}
		&.open a.btn.icebtn {
			border-color:lighten(@bg_primary,15%);
		}
		ul.mb2-portfolio-filter-nav-list.dropdown-menu {
			border-color:darken(@bg_light,15%);
			li {
				a {
					&:hover,
					&:focus {
						background:lighten(@bg_primary,5%);
					}
				}
				&.active {
					a {
						background:lighten(@bg_primary,5%);
					}
				}
			}
		}
	}
}
.mb2-portfolio-projects,
.mb2-portfolio-mod-projects,
.mb2-portfolio-related-items {
	.mb2-portfolio-media{
		.mb2-portfolio-mark a {
			.hexBackgroundToRGBA(lighten(@bg_primary,5%),.75);
			&:hover {
				.hexBackgroundToRGBA(lighten(@bg_primary,5%),1);
			}
		}
	}
}
.mb2-portfolio-single-item {
	.mb2-portfolio-nav {
		ul {
			li {
				a {
					&:hover {
						background:@bg_primary;
						border-color:@bg_primary;
					}					
				}
			}
		}		
	}
	.mb2-portfolio-social-shares {
		ul {
			li {
				a {
					border-color:@bg_primary;
					color:darken(@bg_primary,5%);
					&:hover {
						background:@bg_primary;
					}
				}				
			}
		}
	}
}
.is-carousel {
	.mb2-portfolio-carousel-nav {
		top:-45px;
	}
	.mb2-portfolio-carousel-nav .prev, 
	.mb2-portfolio-carousel-nav .next {
		background:lighten(@bg_primary,10%);
		&:hover {
			background:darken(@bg_primary,0%);
		}	
	}
}
ul.icesocialblock {
	li {
		a {
			&:hover {
				background: @bg_primary;
				border-color: darken(@bg_primary, 15%);
			}
		}
	}
}
body #portfolio-filter {
	.portfolio-item {
		.p-box {
			.hover-wrapper {
				.inner {
					a.m-up.image-link,
					a.open-popup-link { 	
						i.fa {
							color: lighten(@bg_primary,15%)!important;
						}
					}
				}
			}
		}
	}	
}
ul.nav_utility {
	li {
		a {
			border:1px solid lighten(@bg_primary,10%);
			&:hover {
				.hexBackgroundToRGBA(lighten(@bg_primary,10%),.15);
			}
		}
		&.active a {
			.hexBackgroundToRGBA(lighten(@bg_primary,5%),.5);
			border-color:lighten(@bg_primary,10%);
		}
	}
}
#responsivebar-inner {
	.moduletable {
		> h3 {
			&:before{
				background: @bg_primary;
			}
		}
	}
}
div#mobile-btn a.btn-navbar {
	&:focus,
	&:hover {
		.icon-bar { 
		  background-color: lighten(@bg_primary,15%);
		}
	}				
}
body .rssocial-icons { 
	.rssocial-link {
		border: 1px solid darken(@bg_light,15%);
		&:hover {
			[class^="rssocial-icon-"]:before,
			[class*=" rssocial-icon-"]:before {
				color:lighten(@bg_primary,10%)!important;
			}
		}
	}
}
img.artsexylightbox {
	border:1px solid darken(@bg_light,10%);	
	&:hover {
		border-color:lighten(@bg_primary,5%);	
	}
}
.scdp-wrapper-center {
	.scdp-text-vert {
		text-shadow:1px 1px 1px darken(@bg_primary,10%);
	}
}
.blog,
.blog-featured {
	.item-image {
		a > div.rollover {
			> div {
				border:1px solid lighten(@bg_primary,10%);
				&:before {
					background-color: lighten(@bg_primary,10%);
				}
				&:after {
					background-color: lighten(@bg_primary,10%);
				}	
			}
		}
	}
	.item {
		&:hover .it_caption {
			.hexBackgroundToRGBA(darken(@bg_primary,5%),.9);
		}
	}
}
#slideshow {
	.icefullslide {
		nav.slides-pagination {
			a {	
				&:hover {
					&:before {
						background:lighten(@bg_primary,5%);
					}
				}
								
				&.current {
					&:before {
						background:lighten(@bg_primary,5%);
					}					
				}
			}
		}
	}
}
#slideshow {
	.camera_pag {
		ul {
			li {
				&:hover {
					background:lighten(@bg_primary,5%);	
				}
								
				&.cameracurrent {
					background:lighten(@bg_primary,5%);					
				}
			}
		}
	}
}
#social_tabs {
	ul.nav-tabs {
		li {
			&.active {
				a {
					background:@bg_primary;
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
				}
			}			
		}	
	}
}
.category-module.owl-carousel {
	&.owl-theme .owl-controls {
		.owl-dots {
			.owl-dot {
					span {
						background: darken(@bg_body, 15%);
					}
				&:hover {
					span{
						background: darken(@bg_body, 25%);
					}
				}
			}
			.owl-dot.active   {
				span {
					background: darken(@bg_primary, 0%);
				}
			}
		}
	}
	.item:hover .item-inner  {
		.hexBackgroundToRGBA(@bg_primary, .9);
	}
}

body ul#jj_sl_navigation {
	li {	
		a {
			background-color:@bg_primary!important;
			&:hover {
				background-color:lighten(@bg_primary,10%)!important;
			}
		}
	}
}
.about_testimonials {
	blockquote {
		&:before,
		&:after {
			color:lighten(@bg_primary,0%);
		}
	}
	&.owl-theme .owl-controls {
		.owl-page.active span {
			background: darken(@bg_primary, 0%);
		}
	}
}
#pageslide {
	.close {
		background: @bg_primary;
		&:hover {
			background: lighten(@bg_primary,5%);
		}
	}		
}
#gotop {
	.scrollup {
		.hexBackgroundToRGBA(@bg_primary, .75);
	}
	&.gotop_active .scrollup {
		&:hover {
			.hexBackgroundToRGBA(@bg_primary, .9);
		}	
	}
}
body.page-about {
	.page-team {
		ul {
			li {
				a {
					&:hover {
						color:@bg_primary;
					}
				}
			}
		}
	}	
}
body.page-contact {
	ul.icesocialblock {
		li {
			a {
				&:hover {
					color:@bg_primary;
				}
			}
		}
	}
}
body.page-pricing {
	div.pricing-table {
		.pricing-table-header {
			#gradient .vertical(lighten(@bg_primary,5%),lighten(@bg_primary,0%));
		}
	}
}
.portfolio-listpage-portfolio {
	.projects-filter {
		ul {
			li {
				a:link,
				a:visited {
					&.selected,
					&.selected:hover {
						background:lighten(@bg_primary,5%);
					}
				}
			}
		}
	}
}
.item-pagepage-portfolio {
	.project-nav {
		a {
			background-color:lighten(@bg_primary,10%);
			&:hover {
				background-color:lighten(@bg_primary,20%);
			}
		}
	}
	.project-wrapper .flex-direction-nav li a {
		background-color:lighten(@bg_primary,10%);
		&:hover {
			background-color:lighten(@bg_primary,20%);
		}
	}
}
body.offline_page,
body.error_page {
	background:@bg_primary;
	
	#content_page {
		box-shadow:0 0 15px darken(@bg_primary,5%);
	}
}

body.offline_page {
	#offline_social {
		ul {
			li {
				a {
					&:hover {
						color:@bg_primary;
					}
				}
			}
		}
	}
}

/* Layout
*-----------------*/
#header {
	&.header_fixed {
		background: @bg_primary;
		&:before {
			background:lighten(@bg_primary,15%);
		}
	}
}



#content {
	.ice_section {
		h2.heading {
			em {
				font-style:normal;
				color:darken(@bg_primary,5%);
			}
		}
		h3.heading {
			&:before {
				background: lighten(@bg_primary,5%);
			}
			em {
				color:darken(@bg_primary,5%);
			}
		}
		&#section1 {
			h2.heading {
				&:before {
					background: lighten(@bg_primary,5%);
				}
			}
		}
		&#section2 {
			h2.heading {
				border-bottom: 1px solid lighten(@bg_primary, 10%);
			}	
		}
		&#section3 {		
			h2.heading {
				&:before {
					background: lighten(@bg_primary,5%);
				}
			}
		}
		&#section4 {			
			h2.heading {
				&:before {
					background: lighten(@bg_primary,5%);
				}
			}
		}
		&#section5 {
			h2.heading {
				&:before {
					background: lighten(@bg_primary,5%);
				}
			}
		}
		.ice_portfolio_stats {
			.it_stats {
				.it_circle {
					span {
						color: @bg_primary;
					}
				}
				&.owl-theme .owl-controls {
					.owl-dots {
						.owl-dot.active   {
							span {
								background: lighten(@bg_primary, 10%);
							}
						}
					}
				}
			}
		}
		.ice_services {
			.fa {
				background:@bg_primary;	
			}
			.row-fluid [class*="span"]:hover .fa {
				background:lighten(@bg_primary,5%);
			}
		}
		.ice_about {
			.team_member {
				.team_info {
					ul {
						li {
							a {
								&:hover {
									color:lighten(@bg_primary, 10%);
								}
							}
						}
					}
				}
			}
		}
	}
	#sidebar {
		.sidebar_module {
			.sidebar_module_heading {
				&:before{
					background: @bg_primary;
				}
			}

			&.sidebar_module_style-1 {
				background: @bg_primary;
				.sidebar_module_heading {
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
					&:before {
						background: lighten(@bg_primary,15%);	
					}
				}
				.sidebar_module_content {
					.btn.icebtn {
						color:#fff;
						border-color: lighten(@bg_primary,20%);
					}
				}
			}
				&.sidebar_module_style-2 {
				background: @bg_secondary;
				.sidebar_module_heading {
					text-shadow:1px 1px 1px darken(@bg_secondary,10%);
					&:before {
						background: lighten(@bg_secondary,15%);	
					}
				}
				.sidebar_module_content {
					.btn.icebtn {
						color:#fff;
						border-color: lighten(@bg_secondary,15%);
					}
				}
			}
		}
	}	
}
@-webkit-keyframes STYLE1 {
 0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}
@-moz-keyframes STYLE1  {
 0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}
@-o-keyframes STYLE1  {
   0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}
@keyframes STYLE1  {
   0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}

@-webkit-keyframes STYLE2 {
 0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}
@-moz-keyframes STYLE2  {
 0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}
@-o-keyframes STYLE2  {
   0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}
@keyframes STYLE2  {
   0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}
#promo {
	.moduletable {
		.moduletable_heading {
			&:before{
				background: @bg_primary;
			}
		}
	}
}
#showcase, {
	#showcase-modules {
		.moduletable {
			.moduletable_heading {
				&:before{
					background: @bg_primary;
				}
			}
		}
	}
}
#footer {
	.moduletable {
		.moduletable_heading {
			&:before{
				background: @bg_primary;
			}
		}
	}
}

/* MainMenu
/**************/
#mainmenu {
	.navbar-inner {
		ul.nav {
			> li {
				&.dropdown.open > a	{
					background:lighten(@bg_primary,5%);
				}	
			}
		}
	}
	ul.dropdown-menu {
		background:lighten(@bg_primary,5%);	
		> li {
			&.active > a {
				background:lighten(@bg_primary,10%);
			}
		}
		.divider {
			background: darken(@bg_primary,10%);
			border-bottom-color:lighten(@bg_primary,10%);
		}
		.nav-header {
			border-bottom:1px dotted darken(@bg_light,15%);
		}
	}
}
#pageslide #responsivebar-inner {
	ul.menu {
		> li {
			&.active {				
				> a	{
					color:darken(@bg_primary,15%);
				}
			}
		}
	}
}

/* Responsive part
/******************/

