/*********************************************************************************/
/* General  */
/*********************************************************************************/
body {
	overflow-x: hidden;
	background-color:@bg_body;
	
	&.no_slideshow.param_fixed_header {
		padding-top:90px;
	}
}

.container {
	min-width:240px;
}


@media (max-width: 979px) {
	body .visible-phone {
		display: inherit !important;
	}
}

/*********************************************************************************/
/* HEADER */
/*********************************************************************************/
#header {
	position: absolute;
	height:90px;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1010;
	padding: 0;
	background: rgba(0,0,0,0.4);
	.transition();
	
	&.param_fixed_header {
		position: fixed;
	}
	
	&.no_slideshow.param_static_header {
		position: relative;
	}
	
	&:before {
		content:"";
		height:1px;
		width:100%;
		position:absolute;
		left:0;
		bottom:0;
		background:transparent;
	}
	
	&.no_slideshow {
		background: rgba(0,0,0,0.75);
	}
	
	#logo {
		text-align: center;
		padding: 15px 0;
		.transition();
		-webkit-animation: LOGO 1s 1; 
		-moz-animation:    LOGO 1s 1; 
		-o-animation:      LOGO 1s 1; 
		animation:         LOGO 1s 1; 
	}
	
	.search_icon {
		display:inline-block;
		width:25px;
		height:25px;
		background: url("../images/icon_search.png") no-repeat center;
		margin: 0;
		vertical-align:middle;
		opacity:.75;
		.transition();
				
		&:hover {
			opacity:1;
		}
		
		span {
			display:none;
		}
	}
	
	&.header_fixed {
		height:60px;
		background: @bg_primary;
		padding:0;
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.4);
		
		&:before {
			background:lighten(@bg_primary,15%);
		}
		
		#logo {
			padding:0;
		}
	}
	#language {
		margin: 19px 0px 0px 15px;
	}
}

@media (min-width: 767px) {
	#searchModal.modal { 
		width:420px;
		margin-left:-210px;
		
		.modal-body {
			padding: 15px;
			width: auto;
		}
	}
}
	
	
	
@-webkit-keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}
@-moz-keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}
@-o-keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}
@keyframes LOGO {
  0%   { .scale(.5); opacity:0; }
  100% { .scale(1); opacity:1; }
}	


#topbar {
	background:@bg_light;
	border-bottom:1px solid darken(@bg_light,5%);
	
	#topmenu {
		margin: 5px 0;
		text-align:right;
		
		ul {
			margin-bottom:0;
			padding:0 0;
			
			li {
				display:inline-block;
				margin:0 0 0 30px;
				line-height:normal;
				position:relative;
				
				&:after {
					content:"/";	
					color: #ccc;
					position: absolute;
					top: 0;
					left: -15px;				
				}
				
				&:first-child:after {
					display:none;
				}
			
				a {
					font-size:13px;
					color: @text_color;
					.transition();
					
					&:hover,
					&:focus {
						background:none;
						color: #111;
						text-decoration: none;
					}				
				}
			}
		}
	}
		
	p.welcome_site {
		margin:5px 0;
		font-size:13px;
		font-style: italic;
		color: @grayLight;
	}
}


/*********************************************************************************/
/* CONTENT */
/*********************************************************************************/
#breadcrumbs + #content {
	padding-top:25px;
}

#content {
	position:relative;
	padding:45px 0;
	margin:0;
	
	#content_inner {
		margin-bottom:15px;
	}
	
	#message {
		text-align:center;
		.moduletable > h3 {
			color: #3A87AD;
			text-align: center;
			border-bottom: 3px solid #4196BF;
			margin-bottom: 20px;
			font-family: "Coming Soon","Droid Serif",Georgia,"Times New Roman",Times,serif;
			display: inline-block;
			font-size: 27px;
			line-height: 38px;
			padding-bottom: 6px;
		}
	}
	
	/* Begin Section (5 total) */
	.ice_section {
		padding-bottom: 60px;

		&.param_fixed_header {
			padding-top:70px;
			margin-top:-70px;
		}
		
		&:last-child {
			padding-bottom:0;
		}
		
		h2.heading {
			font-size: 36px;
			line-height: 46px;
			
			em {
				font-style:normal;
				color:darken(@bg_primary,5%);
			}
		}
		
		h3.heading {
			position: relative;
			font-size: 20px;
			margin: 0 0 15px;
			
			&:before {
				background: lighten(@bg_primary,5%);
				bottom: 0px;
				content: "";
				height: 1px;
				left: 0;
				opacity: 1;
				position: absolute;
				width:35px;
			}
			
			em {
				font-style:normal;
				color:darken(@bg_primary,5%);
			}
		}
		
		p.lead {
			  font-size: 16px;
			  line-height: 26px;
			  color:lighten(@text_color,25%);
			  font-style:italic;
			  margin-bottom: 35px;
		}
		
		/* section 1 */
		&#section1 {
			
			h2.heading {
				position:relative;
				display: block;
				text-align:right;
				background: @bg_body;
				
				span {
					position:relative;
					background:@bg_body;
					display: inline-block;
					padding-left: 15px;
				}
				
				&:before {
					content: "";
					position: absolute;
					margin-top: .65em;
					width: 100%;
					background: lighten(@bg_primary,5%);
					left: 0px;
					height: 1px;
				}
			}
			
			p.lead {
				text-align: right;
			}
		}
		
		/* section 2 */
		&#section2 {
			
			h2.heading {
				position: relative;
				display: block;
				text-align: left;
				padding-bottom: 10px;
				border-bottom: 1px solid lighten(@bg_primary, 10%);
				
				> span {
				}
				
				&:after {
				}
			}
			
			p.lead {
			}
			
			/* Push Portfolio nav up and list from right on Section 2 */
			.mb2-portfolio-filter-nav {
				margin: 0;
				
				.dropdown {
					margin-top:-55px;
				}
			}
			
			.mb2-portfolio-mod-projects {
				padding-top:15px;
			}
			
		}
		
		/* section 3 */
		&#section3 {
						
			h2.heading {
				position: relative;
				display: block;
				text-align: center;
				
				> span {
					display: inline-block;
					background: @bg_body;
					position: relative;
					padding: 0 15px;
				}
				
				&:before {
					content: "";
					position: absolute;
					margin-top: 0.65em;
					width: 100%;
					background: lighten(@bg_primary,5%);
					left: 0px;
					height: 1px;
				}
			}
			
			p.lead {
				text-align:center;
				display:block;
				clear:both;
				
			}
		}
		
		/* section 4 */
		&#section4 {
						
			h2.heading {
				position: relative;
				display: block;
				text-align: center;
				
				> span {
					display: inline-block;
					background: @bg_body;
					position: relative;
					padding: 0 20px;
				}
				
				&:before {
					content: "";
					position: absolute;
					margin-top: 0.6em;
					width: 100%;
					background: lighten(@bg_primary,5%);
					left: 0px;
					height: 1px;
				}
			}
			
			p.lead {
				text-align:center;
				color:#999;
				display:block;
				clear:both;
			}
		}
		
		&#section5 {
			
			h2.heading {
				position:relative;
				display: block;
				text-align:left;
				background: @bg_body;
				
				span {
					position:relative;
					background:@bg_body;
					display: inline-block;
					padding-right: 15px;
				}
				
				&:before {
					content: "";
					position: absolute;
					margin-top: .65em;
					width: 100%;
					background: lighten(@bg_primary,5%);
					right: 0px;
					height: 1px;
				}
			}
			
			p.lead {
				text-align: left;
			}
		}
		
		
		/* Statistics Styling */
		.ice_portfolio_stats {
			background-color:@bg_light;
			background-size: cover;
			padding: 40px 0 20px;
			margin: 0 0 -25px;
			position:relative;
			
			&:before,
			&:after {
				content:"";
				position:absolute;
				top:0;
				left:0;
				background:rgba(255,255,255,.20);
				width:100%;
				height:10px;
				z-index: 9;
			}
			
			&:after {
				top:auto;
				bottom:0;
			}
		
		
			.it_stats {
				cursor:move;
				cursor:-webkit-grab;
				cursor:-moz-grab;
				cursor:-ms-grab;
				cursor:-o-grab;
				cursor:grab;
				text-align:center;
				
				&:active {
					cursor:move;
					cursor:-webkit-grabbing;
					cursor:-moz-grabbing;
					cursor:-ms-grabbing;
					cursor:-o-grabbing;
					cursor:grabbing;
					text-align:center;
				}
				
				.it_circle {
					// border:10px solid lighten(@bg_secondary,0%);
					background:#fff;
					background: rgba(255,255,255,0.85);
					border-radius:100%;
					width:160px;
					height:160px;
					display:inline-block;
					margin: 20px 20px;
					padding:10px;
					 color:lighten(@text_color,25%);
					
					span {
						font-family:@heading_font;
						color: @bg_primary;
						display:block;
						font-size: 48px;
 						line-height: 58px;
						padding-top: 30px;
						font-weight: 100;
						i {
							font-style: normal;
						}
					}
				}
				
				&.owl-theme .owl-controls {
					margin: 25px auto 0;
					text-align: center;
					
					.owl-dots {
						display: inline-block;
					
						.owl-dot {
							height: auto;
							float: left;
						
								span {
									background: #fff;
									height: 3px;
									width: 75px;
									opacity: 1;
									display:block;
									margin:10px 5px;
									.transition();
								}
							&:hover {
								span{
									background: darken(@bg_body, 10%);
								}
							}
						}
						
						.owl-dot.active   {
							span {
								background: lighten(@bg_primary, 10%);
							}
						}
					}
					
					&.owl-controls.clickable .owl-dot:hover span {
						opacity: 1;
						.transition();
					}
				}
			}
		}
		
		
		/* Services styling */
		.ice_services {
			
			.row-fluid [class*="span"] {
				margin-bottom:30px;
			}
			
			h3 {
				line-height:32px;
				margin-bottom: 5px;
				margin-top: 8px;
			}
			
			.fa {
				font-size:4.5em;
				background:@bg_primary;
				color:#fff;
				float: left;
				margin: 0 20px 20px 0;	
				width: 120px;
				height: 120px;
				line-height:120px;
				border-radius: 60px;
				.transition();
				
				&:before{
					display: inline-block;
					width:120px;
					height:120px;
					text-align: center;
				}		
			}
			
			.row-fluid [class*="span"]:hover .fa {
				background:lighten(@bg_primary,5%);
			}
			
		}
		

 
		/* Newsletter for sections */
		input[type="email"] {
			background-image: url("../images/icon_email.png");
			background-repeat: no-repeat;
			background-position: right center;
			&#mce-EMAIL {
				min-width: 70%;
			}
		}
			
		/* Contact section styling */
		.ice_about {
			// position: relative;

			/* Team Members styling */
			.team_member {
				margin: 25px auto 15px;
				position: relative;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				max-width: 180px;
				max-height: 180px;
				border-radius: 50%;
				.transition();
				* {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
				img {
					width: 100%;
					height: 100%;
				}
				.team_img {
					position: relative;
					max-width: 180px;
					max-height: 180px;
					border-radius: 50%;
					&:before {
						position: absolute;
						display: block;
						content: '';
						width: 100%;
						height: 100%;
						border-radius: 50%;
						box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
						.transition();
					}
					 img {
						border-radius: 50%;
					}
				}
				.team_info {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					border-radius: 50%;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					background: #333333;
					background: rgba(0, 0, 0, 0.6);
					opacity: 0;
					-webkit-transform: scale(0);
					-moz-transform: scale(0);
					-ms-transform: scale(0);
					-o-transform: scale(0);
					transform: scale(0);
					.transition();
					ul {
						margin: 0;
						padding: 0;
						list-style-type: none;
						line-height:190px;
						li {
							display: inline-block;
							width: 40px;
							// border-style:outset;
							// border: 2px dashed #FFF;
							// box-shadow: inset 0 -1px 0 0 #FFF, inset 0 1px 0 0 #FFF, 0 1px 0 0 #FFF, 0 -1px 0 0 #FFF;
							// box-shadow: inset 0 0 0 -1px #FFF, inset 0 0 0 1px #FFF, 0 0 0 1px #FFF, 0 0 0 -1px #FFF;
							// margin-right: 5px;
							.transition();
							&:hover {
								// border-color:lighten(@bg_primary, 10%);
								// box-shadow: inset 0 -1px 0 0 lighten(@bg_primary, 10%), inset 0 1px 0 0 lighten(@bg_primary, 10%), 0 1px 0 0 lighten(@bg_primary, 10%), 0 -1px 0 0 lighten(@bg_primary, 10%);
								// box-shadow: inset 0 0 0 -1px lighten(@bg_primary, 10%), inset 0 0 0 1px lighten(@bg_primary, 10%), 0 0 0 1px lighten(@bg_primary, 10%), 0 0 0 -1px lighten(@bg_primary, 10%);
								a {
									// color:lighten(@bg_primary, 10%);
								}
							}
							a {
								text-decoration: none;
								display: inline-block;
								color: #FFF;
								font-size: 30px;
								margin: 0;
								.transition();
								&:hover {
									color:lighten(@bg_primary, 10%);
								}
								span {
									display: none;
								}
							}
						}
					}
					
				}
				&:hover .team_info {
					opacity: 1;
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
					transform: scale(1);
				}
				&+h3 {
					margin: 0px;
					text-align: center;
					font-family: @heading_font;
					&+em {
						text-align: center;
						display: block;
						color: #999;
						margin-bottom: 25px;
						font-style:italic;
						font-family:@OpenSans;
					}
					&+p em {
						text-align: center;
						display: block;
						color: #999;
						margin-bottom: 25px;
						font-style:italic;
						font-family:@OpenSans;
					}
				}
			}
		}
		
		.ice_contact {
		}
		
		/* Contact Form crippling for Sections */
		#contact {
			form#contact-form {
				.control-group {
					label.control-label {
						display: none;
					}
					.controls {
						margin-left: 0;
						.input-80 {
							min-width: 90%;
						}
					}
				}
			}
		}
	}
	
	
	#middlecol {
		
		&.sidebar_left {float: right;}
		&.sidebar_right {}
	}
	
	#sidebar {
		
		&.sidebar_left {margin-left: 0px;}
		&.sidebar_right {}
	

		/* Sidebar Modules */
		.sidebar_module {
			background:@bg_light;
			padding: 15px;
			margin:0 0 20px;
			
			&:last-child {
				margin-bottom:0;
			}
			
			.sidebar_module_heading {
				position: relative;
				font-size: 20px;
				line-height: 28px;
				margin: 0 0 35px;
				padding:0;
				
				&:before{
					background: @bg_primary;
					bottom: -12px;
					content: "";
					height: 1px;
					left: 0;
					position: absolute;
					width: 35px;
				}
			}
			
			.sidebar_module_content { 
				padding:0;
				
				a {
				}
				
				.btn.icebtn {
					text-shadow: none;
					.transition();
	
					&:hover {
					}
	

					&.icebtn-more {
						text-shadow: none;
						
						&:before {		
						}
					}
				}
			}
			

			/* (style-1) module class suffix */
			&.sidebar_module_style-1 {
				background: @bg_primary;
				color: #fff;
				
				.sidebar_module_heading {
					color: #fff;
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
					
					&:before {
						background: lighten(@bg_primary,15%);	
					}
				}
				
				.sidebar_module_content {
				
					a {
						color: yellow;
					}
					
					.btn.icebtn {
						color:#fff;
						border-color: lighten(@bg_primary,20%);
		
						&:hover {
							-webkit-animation: STYLE1 2s infinite; 
							-moz-animation:    STYLE1 2s infinite; 
							-o-animation:      STYLE1 2s infinite; 
							animation:         STYLE1 2s infinite; 
						}		
					}
				}
			}
				
			/* (style-2) module class suffix */
				&.sidebar_module_style-2 {
				background: @bg_secondary;
				color: #fff;
				
				.sidebar_module_heading {
					color: #fff;
					text-shadow:1px 1px 1px darken(@bg_secondary,10%);
					
					&:before {
						background: lighten(@bg_secondary,15%);	
					}
				}
				
				.sidebar_module_content {
				
					a {
						color: yellow;
					}
					
					.btn.icebtn {
						color:#fff;
						border-color: lighten(@bg_secondary,15%);
		
						&:hover {
							-webkit-animation: STYLE2 2s infinite; 
							-moz-animation:    STYLE2 2s infinite; 
							-o-animation:      STYLE2 2s infinite; 
							animation:         STYLE2 2s infinite; 
						}	
					}
				}
			}
			
			
			/* joomla menu on sidebar */
			ul.menu li {
				line-height:34px;
			
				&.divider {
					display:none;}
					
				a {
					color:@text_color;
					padding:2px;
					line-height: 30px;
					border-bottom:1px dotted darken(@bg_light,15%);
					.transition(); 
					
					&:hover {
						background:darken(@bg_light,5%);
						padding-left:10px;
						text-decoration:none;
					}
				}
				
				&.active a {
					padding-left:10px;
					color:#111;
					background:darken(@bg_light,5%);
				}
				
				&.dropdown-submenu > a:after {
					display:none;
				}
			}
		}
	}	
}

@-webkit-keyframes STYLE1 {
 0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}
@-moz-keyframes STYLE1  {
 0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}
@-o-keyframes STYLE1  {
   0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}
@keyframes STYLE1  {
   0%   { border-color: lighten(@bg_primary,20%); }
 50% { border-color:  lighten(@bg_primary,60%); }
 100% { border-color: lighten(@bg_primary,20%); }
}

@-webkit-keyframes STYLE2 {
 0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}
@-moz-keyframes STYLE2  {
 0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}
@-o-keyframes STYLE2  {
   0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}
@keyframes STYLE2  {
   0%   { border-color: lighten(@bg_secondary,15%); }
 50% { border-color:  lighten(@bg_secondary,50%); }
 100% { border-color: lighten(@bg_secondary,15%); }
}




	

#promo {
	margin: 0 0 45px;
	padding:0;
	
	.moduletable {
		position: relative;
		margin-top:15px;
		margin-bottom:5px;
		
		.moduletable_heading {
			position: relative;
			font-size: 20px;
			line-height: 28px;
			margin: 0 0 35px;
			padding:0;
			
			&:before{
				background: @bg_primary;
				bottom: -12px;
				content: "";
				height: 1px;
				left: 0;
				position: absolute;
				width: 35px;
			}
		}
		
		.moduletable_content {
				
			.moduletable_heading {
				
				&:before{
					left:50%;
					margin-left:-17px;
				}	
			}
				
			a img {
				.transition();
			}
			
			a:hover img {
				.rotate(5deg);
				opacity:.7;
			}
				
			img {
			}
			
		}
	}
}



/* Showcase and Tagline mods 
-----------------------------*/
#showcase, {
	background-color:@bg_light;
	background-size: cover;
	padding:50px 0;
	margin: 0 0 45px;
	position:relative;
	overflow: hidden;
	
	hr {
		border:none;
		overflow: hidden;
	}
	
	&:before,
	&:after {
		content:"";
		position:absolute;
		top:0;
		left:0;
		background:rgba(255,255,255,.20);
		width:100%;
		height:10px;
		z-index: 9;
	}
	
	&:after {
		top:auto;
		bottom:0;
	}
	
	#showcase_inner {
		background: rgba(255, 255, 255, 0.85);
		padding: 20px 12px;
		border-radius: 0;
		border-radius:0;
	}
		
	#showcase-modules {
		margin:15px;
	
		.moduletable {
			margin-bottom:0;
			
			.moduletable_heading {
				position: relative;
				font-size: 20px;
				line-height: 28px;
				margin: 0 0 35px;
				padding:0;
				
				&:before{
					background: @bg_primary;
					bottom: -12px;
					content: "";
					height: 1px;
					left: 0;
					position: absolute;
					width: 35px;
				}
			}
				
			.moduletable_content { 
			
				.btn.icebtn {
					
					
					&:hover {
					}
						
				}
			}
		}
	}
	
	#it_tagline {
		padding: 18px 0 5px;
		text-align:center;
					
		h3 {
			font-family:@heading_font;
			font-size: 32px;
			line-height: 40px;
			font-weight:300;
			
			span {
			}
		}
		
		p {
			font-size:16px;
			line-height:28px;
			
			span {				
			}
		}
		
		input[type="text"]{
			width:auto;
			min-width:60px;
			margin: 0 0 2px 8px;
		}
		
		select{
			width:auto;
			min-width:75px;
			margin: 0 0 2px 2px;
		}
		
		.btn.icebtn {
			margin: 0 0 0 5px;
			
			&:hover {
			}
				
		}
	}
	
}



/*********************************************************************************/
/* FOOTER */
/*********************************************************************************/
#footer {
	position:relative;
	padding-top: 0;
	
	hr.sep.footer_sep {
		margin-top: 0;
		margin-bottom: 35px;
	}
	
	/* footer module position */
	.moduletable {
		margin-top:10px;
		margin-bottom:30px;
		
		.moduletable_heading {
			position: relative;
			font-size: 20px;
			line-height: 28px;
			margin: 0 0 35px;
			padding:0;
			
			&:before{
				background: @bg_primary;
				bottom: -12px;
				content: "";
				height: 1px;
				left: 0;
				position: absolute;
				width: 35px;
			}
		}
	}
}


/* Copyright */
#copyright {
	position:relative;
	margin: 0 0 0;
	padding: 0 0 15px;
	font-size:13px;
	text-align:center;
	
	hr.sep { 
		margin-top: 10px;
		margin-bottom: 35px;
	}
	
	p.copytext {
		display:inline-block;
		clear:both;
		color:@grayLight;
		display:inline-block;
		text-align:center;
		font-style:italic;
		padding:0;
		margin:0;
	}
	
	ul.menu {
		display:inline-block;
		clear:none;
		float:none;
		text-align:center;
		display:inline-block;
		list-style-type:none;
		margin:0;
		padding: 0;
	
		li {
			display:inline;
			position:relative;
			
			a {
				font-size:13px;
				padding: 0 0 0 9px;
				display:inline-block;
				margin:0 3px;
				font-style:italic;
				color:@grayLight;
				.transition();
				
				&:hover {
					background:none;
					color: @text_color;
					opacity:1!important;
				}
			}
		}
	}
}